{# dashboard.html - CORREGIDO NUEVAMENTE #}
{% load static %}

{# Ya NO extiendas base.html #}
{# Ya NO uses block content #}


<div class="dashboard-container">


    {# Contenido específico del dashboard directamente #}
    {# La clase widget/card se aplica al contenedor del calendario #}
    <div class="widget card"> {# Asegúrate que calendar.html NO tenga otro widget innecesario dentro #}
        {% include "exams/calendar.html" %}
    </div>
    {# Más widgets aquí si es necesario, usando la clase card #}
    {# <div class="widget card"> ... otro contenido ... </div> #}


</div>


{# Ya NO necesitas endblock #}